<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/api']" routerLinkActive="active">PhotoAlbum</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Register</a>
        </div>
    </div>
    </nav>
</header>
  
    